@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    padding: 0em;
    margin: 0em;
}

html, body {
    font-family: 'Mali', cursive;
}