#hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .bg_image_container{

        position: relative;
        width: 50em;
        height: 30em;

        .bg_image{
            background: url('https://i.imgur.com/NiMys9W.png') no-repeat center;
            background-size: cover;
            width: 50em;
            height: 30em;
            border: #FFF solid 0.5em;
            position: relative;
            top: 0em;
            left: 0em;
            filter: grayscale(1) blur(2px);
        }

        h1{
            font-family: 'Pangolin', cursive;
            background: #91CEFF;
            color: #264E86;
            display: inline;
            padding: 0.5em;
            border-radius: 3px;
            position: absolute;
            bottom: -1em;
            right: -1em;
        }

        #my_face_lol{
            width: 4em;
            height: 4em;
            background: url('https://avatars0.githubusercontent.com/u/13918481?v=4') no-repeat center;
            background-size: cover;
            border-radius: 50%;
            position: absolute;
            top: -1em;
            left: -1em;
        }

    }

    #scroll_down_button{
        position: absolute;
        bottom: 2em;
        color: #FFF;
        font-size: 1.5em;
        cursor: pointer;
        padding: 0.5em;
        &:hover{
            animation: floating 1s ease-in-out infinite;
        }
    }

    @keyframes floating {
        0%{
            bottom: 2em;
        }
        50% {
            bottom: 2.5em;
        }
    }
}